/** ------------------------------------------------------- login.jsx */

.login_form {
  text-align: center;
  align-items: center;
}
.login_line {
  border-bottom: 1px solid #c6c1bf;
  width: 1200px;
  margin: 0 auto;
  padding-top: 65px;
}

.login_form_ul {
  list-style-type: none;
  margin-top: 65px;
}
.login_input {
  background-color: rgb(255, 231, 235);
  color: var(--pink-color-2);
  width: 450px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  margin: 4px auto;
  border: 1px solid #d4d4d4;
}
.login_button {
  background-color: var(--pink-color-3);
  color: #fff;
  border: 1px solid var(--pink-color-3);
  border-radius: 25px;
  margin: 4px;
  width: 450px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
}
.signup_button {
  border: 1px solid var(--pink-color-3);
  background-color: #fff;
  color: var(--pink-color-3);
  border-radius: 25px;
  margin: 4px;
  margin-top: 30px;
  width: 450px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
}
.word1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  color: #f986bd;
  padding: 0 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 80px;
}
input::placeholder {
  color: var(--pink-color-2);
  font-weight: bold;
}

.word2 {
  margin-top: 30px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 17px;
}

.word3 {
  font-size: 15px;
}
.signup_button:hover .login_spoon {
  animation: tada 1s;
}

/** ------------------------------------------------------- NavbarS.jsx */

.menu_s {
  display: flex;
  justify-content: center;
}

.menu_s_detail {
  display: block;
  position: relative;
  padding: 5px 22px;
  border-radius: 2px;
  color: #f986bd;
  font-weight: 600;
  font-size: 15px;
}

.menu_s_detail:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #f986bd;
}

/** ------------------------------------------------------- DeliveryOrder.jsx */

.delivery_form {
  text-align: center;
  align-items: center;
}

.delivery_header {
  color: #f986bd;
  font-weight: 900;
  font-size: 90px;
  margin-bottom: 40px;
}

.delivery_header_font {
  color: #f986bd;
  font-size: 20px;
  font-weight: bold;
}

.delivery_header_span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
}

.exclamation_mark {
  font-style: italic;
}

.delivery_section2 {
  margin-top: 100px;
}

.delivery_h3 {
  color: #41332c;
  font-size: 25px;
  margin-bottom: 3px;
  font-weight: 600;
}

.delivery_section2_main_p {
  color: #41332c;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333;
}

.delivery_button {
  background-color: var(--pink-color-2);
  color: #fff;
  border: none;
  border-radius: 22px;
  width: 160px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  margin: 40px 0;
  cursor: pointer;
}

.delivery_a {
  text-decoration: none;
  color: #fff;
}

.delivery_section2_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 985px;
  margin: 0 auto;
}

.delivery_section2_li {
  width: 310px;
  height: 270px;
  padding: 20px 0 18px;
  border: 1px solid #d4cdc0;
  border-radius: 10px;
  background-repeat: no-repeat;
  text-align: center;
}

.delivery_section2_img1 {
  width: 105px;
  margin-left: 45px;
  margin-bottom: -20px;
}

.delivery_section2_h4 {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 8px;
  color: #41331c;
}

.delivery_section2_p {
  color: #41331c;
  font-size: 13px;
  line-height: 1.3846153846;
  font-weight: 600;
}

.delivery_section2_img2 {
  margin-top: 43px;
  width: 170px;
}

.delivery_section2_img3 {
  margin-top: 36px;
  width: 150px;
}

.delivery_section3 {
  margin: 160px 0 50px;
}

.delivery_section3_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 985px;
  margin: 0 auto;
}

.delivery_section3_li {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 306px;
  height: 306px;
  padding: 20px 0 18px;
  border: 1px solid #d4cdc0;
  border-radius: 50%;
  background-repeat: no-repeat;
  text-align: center;
}

.delivery_arrow {
  margin-top: 45px;
}

.section3_img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.delivery_section3_span {
  margin-bottom: 13px;
  color: var(--pink-color-2);
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.delivery_section3_p {
  color: #41322c;
  font-size: 13px;
  line-height: 1.3846153846;
}

.section3_img3 {
  margin-top: 70px;
  margin-bottom: 30px;
}

.delivery_section4 {
  margin: 160px 0 50px;
}

.delivery_section4_ul {
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  align-items: center;
  width: 1200px;
  /* height: 386.19px; */
}

.delivery_section4_ul2 {
  margin-top: 30px;
  /* height: 392.58px; */
  margin-bottom: 280px;
}

.delivery_section4_h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  color: #4c2dae;
  font-weight: bold;
  font-size: 20px;
}

.delivery_section4_span {
  display: block;
  width: 34px;
  height: 34px;
  margin-top: -15px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #7465ba;
  color: #fff;
  line-height: 34px;
  text-align: center;
}

.delivery_section4_p1 {
  color: #41331c;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3846153846;
}

.delivery_section4_p2 {
  margin-top: 5px;
  color: red;
  font-weight: 500;
  font-size: 12px;
}

.delivery_section4_li_1 {
  width: 301.99px;
}

.delivery_section4_li_2 {
  width: 340px;
}

.delivery_section4_li_3 {
  width: 340px;
  margin-top: -30px;
}

.delivery_section4_li_4 {
  width: 400px;
}

.delivery_section4_li_5 {
  margin-top: -88px;
  width: 165.99px;
}

.delivery_section4_arrow1 {
  width: 100px;
  margin-right: 60px;
  margin-bottom: 150px;
}

.delivery_section4_arrow2 {
  width: 230px;
  margin-right: 60px;
  margin-bottom: 150px;
}

.delivery_section4_arrow3 {
  width: 280px;
  margin-left: 40px;
  margin-bottom: 150px;
}

.delivery_section4_arrow4 {
  margin-left: 40px;
  margin-bottom: 150px;
}

.delivery_section4_arrow5 {
  margin-right: 50px;
  margin-bottom: 150px;
}

.delivery_section5_ul {
  display: flex;
  justify-content: space-between;
  width: 985px;
  margin: 0 auto;
  margin-top: 100px;
}

.delivery_section5_li {
  width: 226px;
  height: 333px;
}

.delivery_section5_li img {
  height: 226px;
}

.delivery_section5_p {
  color: #41322c;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: -25px;
}

/** ------------------------------------------------------- GroupOrder.jsx */

.grouporder_section1_h3 {
  margin-top: 95px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15;
}

.grouporder_button {
  background-color: var(--pink-color-2);
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 225.96px;
  height: 60px;
  font-size: 18px;
  margin: 40px 0;
  cursor: pointer;
  margin: 0 auto;
}

.grouporder_section1_p1 {
  margin-top: 6px;
  color: #3f312e;
  font-weight: 500;
  font-size: 14px;
}

.grouporder_button_div {
  margin-bottom: 60px;
}

.grouporder_main {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 1000px;
  margin-bottom: 160px;
  align-items: center;
}

.grouporder_main_detail {
  display: flex;
  border: 1px solid #d4cdc0;
  border-radius: 10px;
  width: 1000px;
  height: 241.78px;
}

.grouporder_main_m {
  margin-top: 14px;
}

.grouporder_section1_img {
  width: 499.17px;
  height: 240px;
  padding: 25px 68px;
}

.grouporder_main_1_div {
  width: 498.75px;
}

.grouporder_p {
  text-align: start;
  margin: 30px 0 24px;
  color: #41332c;
  font-weight: 600;
  font-size: 18px;
}

.grouporder_mini_div {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.grouporder_span_b {
  color: #c1bbaf;
  font-size: 13px;
}

.grouporder_span_p {
  color: var(--pink-color-2);
  font-weight: 600;
}

.grouporder_mini_div_1,
.grouporder_mini_div_2 {
  width: 249.38px;
}

.grouporder_mini {
  text-align: center;
  width: 80px;
  height: 25px;
  margin-bottom: 14px;
  border-radius: 12.5px;
  background-color: #c1bbaf;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 2px;
}

.grouporder_mini_p {
  color: #41332c;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3846153846;
}

.grouporder_mini_point {
  color: var(--pink-color-2);
}

.grouporder_section2_img {
  width: 498.75px;
  height: 240px;
  padding: 50px 72px;
}

.grouporder_section3_img {
  width: 498.75px;
  height: 220px;
  margin-top: 20px;
  padding: 1px 117px;
}

.grouporder_p_hight {
  margin-top: 12px;
  line-height: 1.15;
}

.grouporder_section4_img {
  width: 499.17px;
  height: 240px;
  padding: 50px 110px;
}

.grouporder_section5_img {
  width: 499.17px;
  height: 240px;
  padding: 30px 140px;
}

.grouporder_section2_step {
  color: var(--pink-color-2);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 12px;
}

.grouporder_section2_p {
  color: #41332c;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.15;
}

.grouporder_section2_circle1 {
  margin-top: 49px;
}

.grouporder_section2_circle2 {
  margin-top: 36px;
}

.grouporder_section2_circle3 {
  margin-top: 33px;
}

.delivery_section3_refer {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  text-align: left;
  align-items: center;
  width: 1000px;
}

.delivery_section3_refer_ul {
  color: #8f827b;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3846153846;
  letter-spacing: -0.05em;
  margin-right: 60px;
}

/** ------------------------------------------------------- GroupOrderForm.jsx */
